<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567421742642-7tcllad81sg22ofd9t9m6d39p36qlvog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567421742642-7tcllad81sg22ofd9t9m6d39p36qlvog</string>
	<key>API_KEY</key>
	<string>AIzaSyDSF2XSbcF7taFmxhiq-earUJTDa-5DHG4</string>
	<key>GCM_SENDER_ID</key>
	<string>567421742642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ravindu.COBSCCOMP192P016-CW</string>
	<key>PROJECT_ID</key>
	<string>nibm-cafe-4df71</string>
	<key>STORAGE_BUCKET</key>
	<string>nibm-cafe-4df71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567421742642:ios:44eb36ab4d798a49f8562b</string>
</dict>
</plist>